/*!Variables*/


/*colors*/

$frostywhite: #f6f0e5;
$white: #dcd9cd;
$creamwhite: #fffdd0;
$orangered: orangered;
$darkred: #9b0000;
$dark_red: #9b0000;
$max_content_width: 60%;
$page_padding: 16px;
$nav_item_top_bottom_padding: 16px;
$nav_item_left_right_padding: 8px;
$nav_item_bottom_border_height: 4px;
$page_top_margin: 64px;
$page_bottom_margin: 8px;
$dark-pink: #C1272D;
$black: #000000;
$max_font_size: 4rem;
$med_small_font_size: 3rem;
$med_font_size: 2.5rem;